/* //default rules
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* general rules */
/* 
.flex {
  display: flex;
  justify-content: space-between;
}

.search_btn {
  font-size: 2rem;
  background-color: rgb(143, 143, 199);
  cursor: pointer;
}

.err {
  border: solid 2px red;
} */
*/

/* .flash_div {
  padding: 0.8rem;
  font-size: 2rem;
  max-width: 80rem;
  text-align: center;
  letter-spacing: 1;
  letter-spacing: 1;
  margin: 0 auto;
}

.error {
  background-color: red;
  color: #555;
}
.secc {
  background-color: green;
  color: #fff;
}
*/



/*

.btns_div {
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;

  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
}

/*  navbar design */

/* .container {
  display: grid;
  grid-template-columns: 1fr 5fr;
} */
/* .navbar {
  grid-row: 1 / -1;
  background-color: #343a40;
  height: 100vh;
  padding: 4.8rem;
  z-index: 1;
}

.arrow {
  position: relative;
  color: #fff;
  left: 16rem;
  bottom: 2rem;
  font-size: 4rem;
  border-radius: 50%;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}

.profil {
  margin-bottom: 6.4rem;
}

.nav_links {
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.nav_link:link,
.nav_link:visited {
  color: #fff;
  text-decoration: none;
}
.nav_link:hover,
.nav_link:active {
  color: #dee2e6;
}

.hiden {
  display: none;
}

.expend {
  grid-template-columns: 0 6fr;
}

.body_ctr {
  padding: 2rem 4.8rem;
}

.employe_link {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: #444;
}
.edit_link {
  background-color: greenyellow;
  align-self: center;
  justify-self: start;
  margin-top: 1.2rem;
}

.scrole_div {
  overflow-y: scroll;
  height: 80vh;
  margin-top: 1.6rem;
}

.dept_div {
  max-width: 100%;
  background-color: #f7f7f7;
  padding: 1.6rem;
  font-size: 2rem;
}

.dpt {
  background-color: #666;
  font-size: 2.4rem;
  color: #fff;
} */


/* ===========   important styles ================== */
.form_err {
  margin-bottom: 0px !important;
  font-size: 14px !important;
  margin-top: 5px !important;
  color: red !important;
}

.err {
  border: solid 1px red !important;
}

.error {
  background-color: red;
  color: #555;
}
.secc {
  background-color: green;
  color: #fff;
}

.flash_div {
  position: absolute;
  width: 300px;
  right: 50px;
  top: 15px;
}

.alert-danger {
  background-color: rgba(255, 102, 102, 0.9) !important;
  color: #fff !important;
}

.alert-success {
  background-color: rgba(0, 204, 153, 0.9) !important;
  color: #fff !important;
}

.hide {
  opacity: 0;
}
.hiden {
  display: none;
}

.sidebar-list-item > a {
  text-decoration: none !important;
  color: #9799ab !important;
}
